@using System.Linq
@model ProjectLaborBackend.Email.Models.StockEmailModel
<html>
<body>
    <h2>@Model.Name</h2>
    <p>Az alábbi termékek készlete alacsony:</p>
    <ul>
        @if (Model.WarningStocks.Any())
        {
            <li><strong>Kritikus szint:</strong></li>
            <ul>
                @foreach (var item in Model.WarningStocks)
                {
                    <li><b>@item.ProductName</b>: @item.Stock / @item.Capacity db (Kritikus)</li>
                }
            </ul>
        }

        @if (Model.NotificationStocks.Any())
        {
            <li><strong>Alacsony szint:</strong></li>
            <ul>
                @foreach (var item in Model.NotificationStocks)
                {
                    <li><b>@item.ProductName</b>: @item.Stock / @item.Capacity db</li>
                }
            </ul>
        }
    </ul>
</body>
</html>
